@model BaiKiemTra02.Models.LopHoc

@{
    ViewData["Title"] = "Thêm Lớp Học";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="TenLopHoc"></label>
        <input asp-for="TenLopHoc" class="form-control" />
        <span asp-validation-for="TenLopHoc" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NamNhapHoc"></label>
        <input asp-for="NamNhapHoc" class="form-control" type="number" />
        <span asp-validation-for="NamNhapHoc" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NamRaTruong"></label>
        <input asp-for="NamRaTruong" class="form-control" type="number" />
        <span asp-validation-for="NamRaTruong" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SoLuongSinhVien"></label>
        <input asp-for="SoLuongSinhVien" class="form-control" type="number" />
        <span asp-validation-for="SoLuongSinhVien" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Tạo Mới</button>
    <a asp-action="Index" class="btn btn-secondary">Huỷ</a>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}