@{
    ViewData["Title"] = "Home Page";
}
<!--BTVN01-->
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr/>
    <h1 style="color: red">Pham Ngoc Sang and BaiTap02</h1>
    <h2>Bang Cuu Chuong</h2>
    <hr/>
    <div>
        @for (int i = 2; i <= 9; i++)
        {
            <h2>Bảng nhân @i</h2>
            <ul>
                @for (int j = 1; j <= 10; j++)
                {
                        <li>@i x @j = @(i * j)</li>
                }
            </ul>
            <hr />
        }
    </div>
</div>
